
# Python

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/


# FastAPI / Uvicorn

*.log


# Environment variables

.env


# Databases

*.sqlite3


# Docker

*.pid
docker-data/
mysql-data/


# OS

.DS_Store
Thumbs.db


# IDEs

.vscode/
.idea/
